.tile {
  border: 1px solid #C0C0C0;
  margin-left: -1px;
  position: relative;

  &.effect {
    background-color: rgba(252, 118, 104, 0.7);
  }
}

.empty {
  background-color: rgba(192, 192, 192, 0.3);
}

.tile:hover{
  box-shadow: inset 0 0 30px #c0c0c0;
}

.characterInTile {
  transform: rotate(-45deg);
  transform-origin: 50% 75%;
  width: calc(100% - 10%);
  height: 200%;
  margin-left: 5%;
  margin-top: -100%;
}