
.character {
  display: flex;
  flex: 1;

  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
  
    .status {
      flex: 1;
    }
    
    .skills {
      flex: 1;
      display: flex;

      .skill {
        position: relative;
        flex: 1;

        img {
          width: 100%;
        }

        &.active {
          border: 1px solid red;
        }
      }
    }
  }

  .skillInfo {
    flex: 0.5;
  }
}